.card {
    Margin: 20;  
}

.heading{
    background-color: #F2CED8;
    min-height: 50;
    line-height: 3.5;
    font-size: 1.2rem;
    color: white;
 padding: 0 20px,
}




@media screen and (min-width: 768px) {
    div h2 img {
        max-width: 800px;
        height: auto;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1024px) {
    div img {
        max-width: 1200px;
    }
}